#buttonAddNews {
    -fx-background-color: #000033;
    -fx-text-fill: white;
    -fx-font-family: "Comic SANS MS";
    -fx-font-size: 13;
  	-fx-background-radius: 0 0 10 0;
  	-fx-border-radius: 0 30 30 0;
  	-fx-background-radius: 0 30 30 0;
}

#buttonAddNews:hover {
    -fx-background-color: linear-gradient(BLACK 0%, BLACK 20%, BLACK 100%);
}