.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "Comic SANS MS"; 
}

.list-cell {
    -fx-background-color: #162252;
    -fx-text-fill: white;
    -fx-font-family: "Comic SANS MS";
    
}

.list-cell:empty {
    -fx-background-color: #162252;
}



